/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Book+Antiqua&display=swap');

/* Styles for the body */

body {
	font-family: 'Book Antiqua', serif;
	color: #202030;
	background-color: #f8f8fc;
}
h1.fw-bolder {
  color: #00264D; /* Very dark blue color */
}
h2 {
  color: #003366; /* Dark blue color */
}
h2 {
  color: #003366; /* Dark blue color */
}
h5 {
  color: #006400; /* Dark green color */
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #C2E3FF;
}

.resume-main {
	background-color: #D3EFFF;
}

.resume-aside {
	background-color: #B8DAFF;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #007BFF;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.rectangle {
	background-color: #E6F2FF;
    color: white;
}

/* Styles for selected text */

::selection {
	background-color: #000066;
	color: #000;
}

/* Styles for specific text color */

.special-text {
	color: #FF5C00; /* You can change the color value */
}
